.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-bottom: 20px; /* Dodana marginesu dla nagłówka */
}

textarea {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

input[type="file"],
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #61dafb;
  color: #282c34;
}

button:hover {
  background-color: #00aaff;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  color: #00aaff;
}

.form-header {
  font-size: 1.5rem;
  margin-bottom: 20px;

  .App-footer {
  margin-top: 20px;
  font-size: 1rem; 
  color: #ccc; 

}

